
   .columns-portfolio-item{
   display:-ms-flexbox;
   -ms-flexbox-wrap:wrap;
   -ms-flex-direction: column;
   -webkit-flex-flow:row wrap;
   flex-flow:row wrap;
   display:-webkit-box;
   justify-content: space-evenly;
   height: 80vh;
   width: 100vw;
   align-items: center;
         
   }
   .item-wrap {
      overflow: hidden;
      position: relative;
      -webkit-box-flex: auto;
      -ms-flex:auto;
      flex:auto;
      margin:0.5vw;
   
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
   }
   .item-wrap img {
      width:100%;
      height:auto;
   }

   @media only screen and (max-width: 400px) {
      .item-wrap{
         margin: 0;
      }
      .columns-portfolio-item{
         padding:0;
      }
    }
 
 .imageContainer{
    height:25vh;
    width: auto;
 }

 #portfolio{
    background-color: #cccccc;

 }
 .item-wrap {
   overflow: hidden;
   position: relative;
   

   -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.item-wrap .overlay {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   text-align: center;
   color:#cb2d6f;

	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);

   -webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

   background: url("../images/overlay-bg.png") repeat;
}
.item-wrap:hover .overlay {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}
