.columns-portfolio-item{
display:flex;
flex-direction: row;
justify-content: space-around;
padding-top: 70px;
padding-bottom: 70px;

}
 
 .imageContainer{
    height:25vh;
    width: auto;
 }

 #portfolio{
    background-color: #cccccc;
 }
 .item-wrap {
   overflow: hidden;
   position: relative;
   

   -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.item-wrap .overlay {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   text-align: center;
   color:#cb2d6f;

	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);

   -webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

   background: url("../images/overlay-bg.png") repeat;
}
.item-wrap:hover .overlay {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}
